@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



.subnav {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    color: rgb(219, 219, 219);
    margin-left: 1.8rem;
    &:hover {
        color:  #dd2471 ; 
      }
  }
  
.navresponsive{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    margin-left: 0.6rem;
    margin-top: 0.5rem;
}