

.textTab {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    margin-left: 0.8rem;
}

.textTitleVideo{
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    margin-left: 0.8rem;

}
