@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.text-categories{ font-family: 'Oswald', sans-serif;
font-size: 1.2rem;
color: rgb(219, 219, 219);
margin-left: 1.8rem;
&:hover {
    color:  #dd2471 ; 
  }
}