@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  color: #b8b0b0;
	height: 100%;
	overflow-x: hidden;
  background: #181717;
	min-height: 100vh;
}
